{{#each this}}
<div class="media">
  {{#if image}}
  <img src="{{image}}" alt='withImage' class="pull-left user-profile-img">
  {{else}}
  <img src="/img/no_image.png" alt='noImage' class="pull-left user-profile-img">
  {{/if}}
  <div class="media-body">
    <h4 class="media-heading">{{user.first_name}} {{user.last_name}}</h4>
    <p>{{comment_text}}</p>
    <ul class="list-unstyled list-inline media-detail pull-left">
      <li><i class="fa fa-calendar"></i>{{format_date created_at}}</li>
    </ul>
  </div>
</div>
{{/each}}